/* etiquetas */
body{
    background-color:rgba(217, 217, 217, 1);
    text-align: center;
}
/* clases */
.encabezado{
    display:flex;  
    text-align: center; 
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 4em;
    top: -1em;
}
.estiloB{
    cursor: pointer;
    background-color: rgb(112, 175, 231);
    border-radius: 10px;
    width: 23%;
    /* min-width: 5em; */
    height: 30px;
    /* max-height: 4em; */
    
}
.estiloB:hover{
    background-color:rgb(177, 215, 247);
  }

/* id */
#fotoPerfil{
    max-width: 6em;
    min-width: 3em;
    max-height: 6em;
    min-height: 3em;
    width: 5em;
    height: 5em;
}
#perfil{
    border: 3px rgb(0, 0, 0) solid;
    max-width: 6em;
    min-width: 3em;
    max-height: 6em;
    min-height: 3em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
#perfilSinFoto{
    background-color: rgb(5, 99, 32);
    border: 3px rgb(0, 0, 0) solid;
    max-width: 6em;
    min-width: 3em;
    max-height: 6em;
    min-height: 3em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    font-size: 100%;
    color:rgb(255, 255, 255);
}
#cuadroClases{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buscador{
    border: 0,0,0,1 black solid;
}

/* ////////////////PARTE DE LAS CALIFICACIONES///////////////// */

#contenedorClases{
    padding: 30px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    border: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 90%;
    height: em;
}
#porcentajeT{
    /* margin-left: 40px;
    margin-right: 40px; */
    color: rgb(255, 255, 255);
    width: 100%;
    height: 20px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(109, 109, 255);
}
#linea{
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
#bloque{
    display: inline-block;
}