body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#clases{

    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
.clases{
    /* display: grid;
    grid-template-rows:repeat(auto-fill,150px);
    grid-template-columns: repeat(4, minmax(80px,150px));
    gap:50px; */
    cursor: pointer;
    display: flex;
    height: 10em;
    width: 10em;
    min-width: 5em;
    max-width: 11em;
    margin: 20px;
    background-color: rgb(131, 236, 236);
    border: 3px black solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.clases:hover{
    background-color:rgb(9, 89, 154);
  }