body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#clases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clases{
    display: flex;
    height: 7em;
    width: 7em;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
