body{
    background-color: rgb(31, 94, 165);
}
#botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boton{
    cursor:pointer;
    display: block;
    background-color: #7d5aba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.buttonn{
    cursor:pointer;
    display: block;
    background-color: #601cd5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #0c89ab;

}
.botonSalir{
    background-color: rgb(127, 227, 227);
}
.botonSalir:hover{
    background-color: rgb(76, 197, 221);
}