<!----------------------------------------------------------------Luca FAQ---------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQS</title>
    <link rel="stylesheet" href="../style/FAQS.css">
</head>
<body>
    <header><!-- Header en el cual se aclara que es la seccion de preguntas -->
        <h1>Preguntas frecuentes</h1>
        <h1>Respondemos tus dudas.</h1>
    </header>
    <!-- Seccion de preguntas-->
    <div class="faq">
    <h2>¿Qué es esta pagina?</h2>
    <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="faq">
    <h2>¿Comó iniciar sesion?</h2>
    <p>Lorem ipsum dolor sit amet</p>
    </div>
    <script src="../../dynamics/js/faq.js"></script>
</body>
</html>