<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual</title>
    <link rel="stylesheet" href="../statics/style/css/style.css">
</head>
<body>
    <!-- va ir la imagen de Antonio Caso -->
    <div class="contenedorFinal">
        <div class="imagenP6">
            <div class="fondo">
                <div class="sesion">
                    <h1 style="color:#FFFFFF" id="centradoTexto">Iniciar sesión</h1>
                    <form>
                        <label for="usuario">Usuario</label><br/>
                        <input required type="text" class="formRegistro" name="usuario" placeholder="  Ingresa texto"><br/><br/>
                        <label for="contrasena">Contraseña</label><br/>
                        <input id="contrasena-ini" required type="password" minlength="6" maxlength="20" class="formRegistro" name="contrasena" placeholder="  ********"><br/><br/>
                        <input type="checkbox" class="cBox" name="cBox">
                        <label for="cBox">Mostrar contraseña</label><br/><br/>
                        <button class="boton">Botón BV</button>  
                    </form>
                </div><br/>
                <div class="registro">
                    <h1 style="color:#FFFFFF" id="centradoTexto">Registrarse</h1>
                    <form action="./dynamics/php/registro.php" method="post">
                        <label for="numeroC">Número de cuenta</label><br/>
                        <input required type="text" class="formRegistro" name="numeroC" placeholder="  Ingresa número de cuenta" minlength="9" maxlength="9"><br/><br/>
                        <label for="correoReg">Correo electrónico</label><br/>
                        <input required type="email" class="formRegistro" name="correoReg" placeholder="  Ingresa texto" maxlength="30"><br/><br/>
                        <label for="contraseñaReg">Contraseña</label><br/>
                        <input minlength="6" maxlength="20" required type="password" class="formRegistro" name="contraseñaReg" placeholder="  ********"><br/><br/>
                        <label for="confirmContra">Confirmar contraseña</label><br/>
                        <input minlength="6" maxlength="20" required type="password" class="formRegistro" name="confirmContra" placeholder="  ********"><br/><br/>
                        <label for="nombreCom">Nombre completo</label><br/>
                        <input required type="text" class="formRegistro" name="nombreCom" placeholder="  Ingresa texto" maxlength="60"><br/><br/>
                        <label for="usuario">Usuario</label><br/>
                        <input required type="text" class="formRegistro" name="usuario" placeholder="  Máximo 12 caracteres" minlength="12" maxlength="12"><br/><br/>

                        <input type="checkbox" class="cBox" name="cBox">
                        <label for="cBox">Mostrar contraseña</label><br/><br/>
                        <button class="boton">Botón BV</button>  
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        // BOTÓN PARA MOSTRAR CONTASEÑA-DANDA
        const fondo = document.getElementsByClassName("fondo");
        const contrasenaIni = document.getElementById("contrasena-ini");

        fondo[0].addEventListener("click", (evento) =>{
            if(evento.target.className == "cBox"){
                contrasenaIni.setAttribute('type', 'text');
            }
        });
    </script>
</body>
</html>