<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos Principal</title>
    <link rel="stylesheet" href="../style/css/Preguntas.css">
</head>
<body>
    
    <div id="botones">
        <button id="ahorcado">Juega el juego de ahoracdo</button>
        <button id="kahoot">Responde a un cuestionario</button>
        <button id="crearkahoot">Crea un Cuestionario</button>
        <form action="../../dynamics/php/alumnoPrincipal.php">
            <button class="boton">Regresar a sala principal</button>
        </form>
        <button class="buttonn" id="ahorcado">Juega el juego de ahoracdo</button>
        <button id="kahoot">Responde a un cuestionario</button>
        <button id="crearkahoot">Crea un Cuestionario</button>
    </div>
    
    <script>
        /////// BOTONES-Luca //////////
        const ahoracdo = document.getElementById("ahorcado");
        const kahoot = document.getElementById("kahoot");
        const crearkahoot= document.getElementById("crearkahoot");

        ahoracdo.addEventListener("click", () =>{
            window.location.href = "Ahorcado.html";
        });

        kahoot.addEventListener("click", () =>{
            window.location.href = "./juego.html";
        });
        crearkahoot.addEventListener("click", ()=>{
            window.location.href="./CrearCuestionario.html"
        })
    </script>
</body>
</html>