<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/Cuestionaro.css">
    <title>Cuestionario</title>
</head>
<body>
    <div id="contenedorPreguntas">
    <div id="timer"></div>
        <div id="Pregunta"></div>
        <div id="Respuestas">
            <div class="Opcion" id="A"></div>
            <div class="Opcion" id="B"></div>
            <div class="Opcion" id="C"></div>
            <div class="Opcion" id="D"></div>
        </div>
    </div>
    <div id="Entrar">
        <input type="number" placeholder="Ingresa el id de tu juego">
        <div id="Enviar"> Entrar</div>
    </div>
    <script src="../../dynamics/js/juego.js"></script>

</body>
</html>