<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Principal</title>
    <link rel="stylesheet" href="../style/css/Preguntas.css">
</head>
<body>
    <div id="botones">
        <form action="../../dynamics/php/alumnoPrincipal.php">
            <button class="boton">Regresar a sala principal</button>
        </form>
        <button class="buttonn" id="dudas">Déjanos tus dudas</button>
        <button class="buttonn" id="faqs">Preguntas Frecuentes</button>
        <button class="buttonn" id="foro">Ve al foro</button>
    </div>
    
    <script>
        /////// BOTONES-DANDA //////////
        const faqs = document.getElementById("faqs");
        const dudas = document.getElementById("dudas");
        const foro = document.getElementById("foro");

        foro.addEventListener("click", ()=>{
            window.location.href = "../../dynamics/php/foro/foroPrincipal.php";
        })
        faqs.addEventListener("click", () =>{
            window.location.href = "./FaQ.html";
        });

        dudas.addEventListener("click", () =>{
            window.location.href = "../../dynamics/php/dudasPag.php";
        });
    </script>
</body>
</html>